<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse fs-15 " id="conteudoNavbarSuportado">
      <ul class="navbar-nav m-auto font-italic">
        <li class="nav-item active pl-3 pr-5">
          <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item active pl-5 pr-5">
          <a class="nav-link" href="#">Estética</a>
        </li>
        <li class="nav-item active pl-5 pr-5">
            <a class="nav-link" href="#">Odontologia</a>
          </li>
          <li class="nav-item active pl-5 pr-5 ">
            <a class="nav-link" href="#">Profissionais</a>
          </li>
      </ul>
    </div>
  </nav>